body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
}

.modal-appear {
  opacity: 0.01;
}

.modal-appear.modal-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
